
# Local MongoDB, default install (mongod running on the default port):
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=foodlens
MONGODB_URI="mongodb+srv://<user>:<password>@<cluster>.mongodb.net"

ANTHROPIC_API_KEY=
FOODLENS_AI=on



